<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>ToDO List</name>

  <description>
      A simple To do List App
  </description>

  <author href="https://seunzone.com" email="darealseun@gmail.com">
      Seun
  </author>

</widget>